---
layout: home
title: Home
event_title: Resonance
event_subtitle: February 2, 2019 | U of T
gallery:
    - speaker: John Smith, Astronaut
      img: assets/speakers/01.png
      talk_title: Harnessing the Ultimate Power of Space
    - speaker: John Smith, Astronaut
      img: assets/speakers/01.png
      talk_title: Harnessing the Ultimate Power of Space
    - speaker: John Smith, Astronaut
      img: assets/speakers/01.png
      talk_title: Harnessing the Ultimate Power of Space
    - speaker: John Smith, Astronaut
      img: assets/speakers/01.png
      talk_title: Harnessing the Ultimate Power of Space
    - speaker: John Smith, Astronaut
      img: assets/speakers/01.png
      talk_title: Harnessing the Ultimate Power of Space
    - speaker: John Smith, Astronaut
      img: assets/speakers/01.png
      talk_title: Harnessing the Ultimate Power of Space
marketing:
    - tag: Networking Opportunities
      title: Insert Marketing Title 1
      content: Words have the ability to emanate and spread
               positive energy. They can provide us both the
               ideas and tools we can utilize for
      img: assets/speakers/marketing1.jpeg
    - tag: Networking Opportunities 1
      title: Insert Marketing Title 2
      content: Words have the ability to emanate and spread
               positive energy. They can provide us both the
               ideas and tools we can utilize for
      img: assets/speakers/marketing1.jpeg
---

{% include home_header.html %}

<section class="home-marketing">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="home-marketing-content">
                    <label class="sub-section-label">{{ page.marketing[0].tag }}</label>
                    <h2>{{ page.marketing[0].title }}</h2>
                    <p>{{ page.marketing[0].content }}</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="home-marketing-img-container">
                    <div class="img">
                        <img src="{{ page.marketing[0].img }}" alt="{{ page.marketing[0].tag }}" />
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="home-marketing-img-container">
                    <div class="img">
                        <img src="{{ page.marketing[1].img }}" />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="home-marketing-content">
                    <label class="sub-section-label">{{ page.marketing[1].tag }}</label>
                    <h2>{{ page.marketing[1].title }}</h2>
                    <p>{{ page.marketing[1].content }}</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% include footer.html %}
{% include home_scripts.html %}