<section class="buy-tickets">
    <div class="container">
        <label class="sub-section-label">JOIN THE MOVEMENT</label>
        <h2>Ready to be inspired?</h2>
        <button disabled class="btn btn-primary">TICKET SALE WILL OPEN SOON</button>
    </div>
</section>

<div id="loading-page">
<div class="lds-ripple"><div></div><div></div></div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script>
    // Animation scripts
    (function() {
        setTimeout(function() {
            $("#loading-page").fadeOut();
        }, 2000);


        $(window).scroll(function (e) {
            if($(window).scrollTop() > 200) {
                $(".navbar").addClass("darken");
            } else {
                $(".navbar").removeClass("darken");
            }
        });
    })();
</script>