<div class="home-gallery" id="home-gallery">
    <div class="home-gallery__title">
        Harnessing the Ultimate Power of Space
    </div>
    <ul class="home-gallery__items">
        <li class="home-gallery__items__item">
            <img class="home-gallery__items__item__img" src="assets/speakers/01.png" />
            <div class="home-gallery__items__item__label">
                John Smith, Astronaut
            </div>
        </li>
        <li class="home-gallery__items__item">
            <img class="home-gallery__items__item__img" src="assets/speakers/01.png" />
            <div class="home-gallery__items__item__label">
                John Smith, Astronaut
            </div>
        </li>
        <li class="home-gallery__items__item home-gallery__items__item--active">
            <img class="home-gallery__items__item__img" src="assets/speakers/01.png" />
            <div class="home-gallery__items__item__label">
                John Smith, Astronaut
            </div>
        </li>
    </ul>
</div>

<script>
    const galleryId = "home-gallery";
</script>

