<div class="home-gallery" id="home-gallery">
    <div class="container">
        <div class="home-gallery__title">
            <button onClick="previousGalleryItem()" class="home-gallery__title__left-btn"></button>
            <div class="home-gallery__title__content">Our 11 Speakers</div>
            <button onClick="nextGalleryItem()" class="home-gallery__title__right-btn"></button>
        </div>
        <br/>
        <ul class="home-gallery__items">
            {% for item in page.gallery %}
            <li class="home-gallery__items__item">
                <img class="home-gallery__items__item__img" src="{{ item.img }}" alt="{{ item.speaker }}"/>
                <div class="home-gallery__items__item__label">
                    <small>{{ item.title }}</small>
                    {{ item.speaker }}
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
