.team{
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../../assets/wave-black.svg);
  background-size: auto;
  padding-top: 4 * $spacing-unit;
  &__label {
    font-family: $libre-font;
    font-size: 40px;
    font-weight: bold;
    padding-left: 150px;
    align-self: left;
  }
  &__sub-section{
    font-family: $primary-font;
    font-size: 15px;
    font-weight: 500;
    padding-left: 150px;
    align-self: left;
  }
  &__picture{
    height: 220px;
    width: 220px;
    margin: 15px;
  }
  &__border{
    padding-left: 165px;
    padding-right: 165px;
    padding-bottom: 50px;
  }
  &__member-name{
    position: absolute;
    bottom: 20px;
    font-family: $primary-font;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    align: left;
    letter-spacing: 9%;
    left: 10px;
    color: white;
  }
  &__member-position{
    position: absolute;
    bottom: 3px;
    font-family: $libre-font;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    align: left;
    left: 10px;
    color: white;
  }
  &__image{
    position: relative;
  }
  &__name-gradient{
    position: absolute;
    width: 220px;
    height: 60px;
    top: 180px;
    left: 15px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 11%, black 47%, black 65%, black 92%, black 96%);
  }
  &__section2{
    background-color: white;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(../../assets/wave-black.svg);
    background-size: auto;
  }
  &__experience{
    font-family: $libre-font;
    color: white;
    font-size: 90px;
    font-weight: 400;
    line-height: 109px;

  }
  &__experience-column{
    width: 33.33%;
    text-align: center;
    vertical-align: middle;
  }
  &__explanation{
    font-family: $fira-font;
    font-size: 27px;
    line-height: 29px;
    color: white;

  }
  &__experience-box{
    width: inherit;
    margin-top: 100px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 11%, black 47%, black 65%, black 92%, black 96%);
  }

}
.home__header__about .feature-row--right {
  margin-top: 180px;
}
.feature-row {
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  width: 100%;
  padding: 0px;
  padding-bottom: 50px;
}
.feature-row--right__image__about{
    position: fixed;
    right: 0px;
    top: 0px;
    max-width: 70%;
    z-index: -99;
}
