$on-phone:         450px !default;
$on-palm:          769px !default;
$on-tablet:        992px !default;
$on-laptop:        1280px !default;

$on-medium:        $on-palm !default;
$on-large:         $on-laptop !default;

$spacing-unit:     30px !default;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@import "_navigation";
@import "_global";
@import "_home";
@import "_buy_tickets";
@import "_about.scss";
@import "_loading.scss";
@import "_footer.scss";
@import "_speaker_modal.scss";
@import "_live.scss";
@import "_post.scss";