.live {
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    h1 {
        padding: 40px;
        color: white;
        opacity: 0.3;
    }
}