@keyframes slide-from-top {
  from {
    top: -100px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }
.navbar {
  top: -100px;
  opacity: 0;
  animation: slide-from-top 2s ease 2s 1 normal forwards;
  background: -moz-linear-gradient(top, black 0%, rgba(0, 0, 0, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, black 0%, rgba(0, 0, 0, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, black 0%, rgba(0, 0, 0, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 );
  /* IE6-9 */
  transition: all ease 0.3s;
  z-index: 99;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 15px;
  position: fixed;
  width: 100%; }
  .navbar.darken {
    transition: all ease 0.3s;
    background: -moz-linear-gradient(top, black 50%, rgba(0, 0, 0, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, black 50%, rgba(0, 0, 0, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, black 50%, rgba(0, 0, 0, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 );
    /* IE6-9 */ }
  .navbar .nav-item {
    padding-left: 40px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    color: white;
    border-bottom: rgba(255, 255, 255, 0) 2px solid; }
    .navbar .nav-item .nav-link {
      color: white; }
    .navbar .nav-item:hover .nav-link, .navbar .nav-item.active .nav-link {
      color: white;
      border-bottom: rgba(255, 255, 255, 0.2) 2px solid; }

.navbar-brand img {
  height: 58px; }

@media screen and (max-width: 1280px) {
  .navbar .nav-item,
  .navbar .nav-item.active {
    padding-left: 20px; } }
@media screen and (max-width: 450px) {
  .navbar-brand img {
    height: 40px; } }
body {
  background-color: black;
  overflow-x: hidden; }

h2 {
  font-family: "Montserrat", sans-serif; }

.container {
  max-width: 1300px;
  padding: 0; }

.btn {
  border: none;
  border-radius: 0;
  padding-left: 20px !important;
  padding-right: 20px !important;
  display: inline-block; }
  .btn.btn-primary {
    text-transform: uppercase;
    background-color: #E62B1E; }
    .btn.btn-primary:active {
      background-color: #E62B1E; }
    .btn.btn-primary:hover {
      background-color: #bc2015; }

.feature-row {
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  width: 100%;
  padding: 100px; }
  .feature-row:hover .feature-row__content-dec {
    left: -120px;
    transition: left ease 0.3s; }
    .feature-row:hover .feature-row__content-dec--left {
      left: auto;
      right: -20px;
      transition: right ease 0.3s; }
  .feature-row__quote {
    font-size: 30px; }
  .feature-row--right__image {
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: 70%;
    z-index: -99; }
  .feature-row__content-dec {
    background-color: #E62B1E;
    width: 220px;
    height: 12px;
    position: absolute;
    z-index: -99;
    transform: rotateZ(-45deg);
    left: -50px;
    top: 50px;
    transition: left ease 0.3s; }
    .feature-row__content-dec--left {
      transform: rotateZ(45deg);
      left: auto;
      right: 100px;
      top: 100px;
      transition: right ease 0.3s; }
  .feature-row--left {
    text-align: right; }
    .feature-row--left__image {
      position: absolute;
      left: 0;
      bottom: 0;
      max-width: 70%;
      z-index: -99; }
  .feature-row__content {
    display: inline-block;
    color: white;
    max-width: 40%;
    position: relative;
    text-align: left;
    padding: 20px; }
    .feature-row__content h2 {
      font-size: 40px; }
    .feature-row__content p {
      font-family: 'Fira Sans', sans-serif;
      padding-top: 15px; }

.sub-section-label {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase; }

@media screen and (max-width: 1280px) {
  .container {
    max-width: 1000px; } }
@media screen and (max-width: 992px) {
  .container {
    max-width: 900px; }

  .feature-row {
    padding: 50px; }
    .feature-row__content {
      max-width: 100%; } }
@media screen and (max-width: 769px) {
  .feature-row__content h2 {
    font-size: 24px; } }
@keyframes fade-from-top {
  from {
    margin-top: -200px;
    opacity: 0; }
  to {
    margin-top: 0;
    opacity: 0.5; } }
.home__header {
  position: relative;
  width: 100%;
  margin: 0;
  overflow: hidden; }
  .home__header__background {
    margin-top: -300px;
    opacity: 0;
    animation: fade-from-top 2s ease 2.5s 1 normal forwards;
    position: absolute;
    left: 0;
    top: 30px;
    width: 100%;
    z-index: -1; }
  .home__header__title {
    padding: 40px;
    font-family: 'Montserrat', sans-serif;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 400px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
    font-weight: 500;
    text-shadow: black 0 0 40px; }
    .home__header__title h1 {
      font-weight: 500;
      font-size: 60px;
      letter-spacing: 10px; }
    .home__header__title p {
      letter-spacing: 3px; }
  .home__header .feature-row--right {
    margin-top: 230px; }
.home__featured-speakers {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: white;
  font-family: 'Montserrat', sans-serif; }
  .home__featured-speakers h2 {
    font-size: 15px;
    text-transform: uppercase;
    text-align: center; }
  .home__featured-speakers__speak-title {
    font-size: 34px;
    text-align: center;
    font-weight: 700; }
.home-marketing {
  background-color: white;
  padding-top: 100px;
  padding-bottom: 30px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  overflow: hidden;
  background-image: url(../../assets/wave-black.svg); }
  .home-marketing h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    font-weight: bold; }
  .home-marketing .home-marketing-content {
    vertical-align: middle;
    padding-left: 20px;
    padding-top: 150px;
    padding-bottom: 200px;
    padding-right: 50px; }
  .home-marketing .home-marketing-img-container .img {
    width: 400px;
    height: 300px;
    overflow: hidden; }
    .home-marketing .home-marketing-img-container .img img {
      width: 100%;
      vertical-align: center; }
.home__quote {
  overflow: hidden;
  padding: 100px 0 100px 0; }

@media screen and (max-width: 1280px) {
  .home__header__title h1 {
    font-size: 50px; }
  .home__header__title p {
    letter-spacing: 2px; }
  .home__header .feature-row--right {
    margin-top: 130px; } }
@media screen and (max-width: 992px) {
  .home__header__title {
    padding-top: 300px; }
  .home__header .feature-row--right {
    margin-top: 50px; } }
@media screen and (max-width: 769px) {
  .home__header__title h1 {
    font-size: 40px;
    letter-spacing: 2px; }
  .home__header__title p {
    letter-spacing: 1px; }
  .home-marketing .home-marketing-content {
    padding-top: 50px;
    padding-bottom: 50px; }
  .home-marketing .home-marketing-img-container {
    display: none; } }
@media screen and (max-width: 450px) {
  .home__header__title {
    text-align: center; }
    .home__header__title h1 {
      font-size: 30px; } }
.home-gallery {
  opacity: 0;
  font-family: "Montserrat", sans-serif; }
  .home-gallery__title {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    display: flex;
    width: 100%;
    justify-content: space-between; }
    .home-gallery__title__content {
      flex: 1 1 auto; }
    .home-gallery__title__left-btn, .home-gallery__title__right-btn {
      flex: 0 0 auto;
      width: 100px;
      background-size: contain;
      background-repeat: no-repeat;
      border: none;
      cursor: pointer;
      outline: 0 !important; }
    .home-gallery__title__left-btn {
      background-image: url(../arrow-left.svg); }
    .home-gallery__title__right-btn {
      background-image: url(../arrow-right.svg); }
  .home-gallery__items {
    list-style: none;
    padding: 0;
    left: 0;
    position: relative; }
    .home-gallery__items__item {
      vertical-align: middle;
      display: inline-block;
      position: relative;
      width: 300px;
      height: 300px;
      cursor: pointer;
      overflow: hidden;
      margin: 20px;
      transition: all ease 0.3s; }
      .home-gallery__items__item__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%; }
      .home-gallery__items__item:hover .home-gallery__items__item__label, .home-gallery__items__item--active .home-gallery__items__item__label {
        opacity: 1;
        transition: opacity ease 0.5s; }
      .home-gallery__items__item__label {
        transition: opacity ease 0.5s;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        color: white;
        padding: 20px;
        padding-top: 60px;
        font-size: 20px;
        font-weight: 500;
        opacity: 0;
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 11%, black 47%, black 65%, black 92%, black 96%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 11%, black 47%, black 65%, black 92%, black 96%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 11%, black 47%, black 65%, black 92%, black 96%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
        /* IE6-9 */ }
      .home-gallery__items__item--active {
        transform: scale(1.1);
        transition: all ease 0.3s; }

.buy-tickets {
  padding: 140px 20px 140px 20px;
  background-image: url(../../assets/footer-background.jpeg);
  background-size: cover;
  text-align: center;
  color: white;
  background-position: bottom;
  background-attachment: fixed;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px; }
  .buy-tickets h2 {
    font-weight: 700;
    padding: 20px 0 20px 0; }

@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.team {
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../../assets/wave-black.svg);
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 80px;
  width: 100%;
  overflow: hidden; }
  .team__label {
    font-family: "Libre Franklin", sans-serif;
    font-size: 40px;
    font-weight: bold;
    align-self: left;
    padding-left: 20px;
    padding-right: 20px; }
  .team__sub-section {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight: 500;
    align-self: left;
    padding-left: 20px;
    padding-right: 20px; }
  .team__picture {
    width: 100%; }
  .team__member-item {
    position: relative;
    margin: 10px;
    transition: all ease 0.3s; }
    .team__member-item:hover {
      transform: scale(1.2);
      transition: all ease 0.3s;
      z-index: 10;
      box-shadow: rgba(0, 0, 0, 0.6) 0 0 30px; }
  .team__member-name {
    bottom: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 13px;
    letter-spacing: 2px;
    color: white;
    text-transform: uppercase; }
  .team__member-position {
    display: block;
    font-family: "Libre Franklin", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 1px;
    padding-top: 5px;
    left: 10px;
    color: white; }
  .team__image {
    position: relative; }
  .team__name-gradient {
    padding: 20px;
    padding-bottom: 15px;
    height: auto;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 11%, black 47%, black 65%, black 92%, black 96%); }
  .team__section2 {
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../../assets/wave-black.svg);
    background-size: auto; }
  .team__experience {
    font-family: "Libre Franklin", sans-serif;
    color: white;
    font-size: 90px;
    font-weight: 700;
    line-height: 109px; }
  .team__explanation {
    font-family: "Fira Sans", sans-serif;
    font-size: 27px;
    line-height: 29px;
    font-weight: 100;
    color: white; }
  .team__experience-box {
    text-align: center;
    width: inherit;
    margin-top: 100px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 11%, black 47%, black 65%, black 72%, black 96%); }

.home__header__about {
  width: 100%;
  overflow: hidden;
  padding-bottom: 50px; }

.home__header__about .feature-row--right {
  margin-top: 180px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 90%, black 47%, black 65%, black 72%, black 96%); }

.feature-row {
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  width: 100%;
  padding: 0px; }

.feature-row--right__image__about {
  position: fixed;
  right: 0px;
  top: 0px;
  max-width: 70%;
  z-index: -99; }

@media screen and (max-width: 1280px) {
  .team__member-name {
    font-size: 11px;
    margin-bottom: 0; }
  .team__member-position {
    font-size: 14px; }
  .team__name-gradient {
    padding: 15px;
    padding-bottom: 10px; }
  .team__experience-box {
    margin-top: 50px; }
  .team__experience {
    font-size: 60px; } }
@media screen and (max-width: 992px) {
  .team__experience-box {
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 20px; }
  .team__experience {
    font-size: 60px; }
  .team__explanation {
    font-size: 14px;
    line-height: 15px; } }
@media screen and (max-width: 450px) {
  .team__member-item {
    margin: 30px; }
    .team__member-item:hover {
      transform: scale(1); }
  .team__member-name {
    font-size: 14px;
    margin-bottom: 5px; }
  .team__member-position {
    font-size: 20px; }
  .team__name-gradient {
    padding: 15px;
    padding-bottom: 10px; } }
#loading-page {
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  display: flex;
  text-align: center;
  flex-direction: column; }

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px; }

.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 2s cubic-bezier(0, 0.2, 0.8, 1) infinite; }

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s; }

@keyframes lds-ripple {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1; }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0; } }
