.navbar {
  background: -moz-linear-gradient(top, black 0%, rgba(0, 0, 0, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, black 0%, rgba(0, 0, 0, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, black 0%, rgba(0, 0, 0, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 );
  /* IE6-9 */
  z-index: 99;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 15px;
  position: fixed;
  width: 100%; }
  .navbar .nav-item {
    padding-left: 40px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    color: white;
    border-bottom: rgba(255, 255, 255, 0) 2px solid; }
    .navbar .nav-item .nav-link {
      color: white; }
    .navbar .nav-item:hover .nav-link, .navbar .nav-item.active .nav-link {
      color: white;
      border-bottom: rgba(255, 255, 255, 0.2) 2px solid; }

.navbar-brand img {
  height: 58px; }

@media screen and (max-width: 1280px) {
  .navbar .nav-item,
  .navbar .nav-item.active {
    padding-left: 20px; } }
body {
  background-color: black;
  overflow-x: hidden; }

h2 {
  font-family: "Montserrat", sans-serif; }

.container {
  max-width: 1300px;
  padding: 0; }

.btn {
  border: none;
  border-radius: 0;
  padding-left: 20px !important;
  padding-right: 20px !important;
  display: inline-block; }
  .btn.btn-primary {
    text-transform: uppercase;
    background-color: #E62B1E; }
    .btn.btn-primary:active {
      background-color: #E62B1E; }
    .btn.btn-primary:hover {
      background-color: #bc2015; }

.feature-row {
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  width: 100%;
  padding: 100px; }
  .feature-row:hover .feature-row__content-dec {
    left: -120px;
    transition: left ease 0.3s; }
    .feature-row:hover .feature-row__content-dec--left {
      left: auto;
      right: -20px;
      transition: right ease 0.3s; }
  .feature-row__quote {
    font-size: 30px;
    padding-bottom: 20px; }
  .feature-row--right__image {
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: 70%;
    z-index: -99; }
  .feature-row__content-dec {
    background-color: #E62B1E;
    width: 220px;
    height: 12px;
    position: absolute;
    z-index: -99;
    transform: rotateZ(-45deg);
    left: -50px;
    top: 50px;
    transition: left ease 0.3s; }
    .feature-row__content-dec--left {
      transform: rotateZ(45deg);
      left: auto;
      right: 100px;
      top: 100px;
      transition: right ease 0.3s; }
  .feature-row--left {
    text-align: right; }
    .feature-row--left__image {
      position: absolute;
      left: 0;
      bottom: 0;
      max-width: 70%;
      z-index: -99; }
  .feature-row__content {
    display: inline-block;
    color: white;
    max-width: 40%;
    position: relative;
    text-align: left; }
    .feature-row__content h2 {
      font-size: 40px; }
    .feature-row__content p {
      font-family: 'Fira Sans', sans-serif;
      padding-top: 15px; }

.sub-section-label {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase; }

@media screen and (max-width: 769px) {
  .feature-row {
    padding: 50px; }
    .feature-row__content {
      max-width: 100%; } }
.home__header {
  position: relative; }
  .home__header__background {
    position: absolute;
    left: 0;
    top: 30px;
    width: 100%;
    opacity: 0.7; }
  .home__header__title {
    padding: 40px;
    font-family: 'Montserrat', sans-serif;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 400px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
    font-weight: 500;
    text-shadow: black 0 0 40px; }
    .home__header__title h1 {
      font-weight: 500;
      font-size: 60px;
      letter-spacing: 10px; }
    .home__header__title p {
      letter-spacing: 3px; }
  .home__header .feature-row--right {
    margin-top: 230px; }
.home__featured-speakers {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: white;
  font-family: 'Montserrat', sans-serif; }
  .home__featured-speakers h2 {
    font-size: 15px;
    text-transform: uppercase;
    text-align: center; }
  .home__featured-speakers__speak-title {
    font-size: 34px;
    text-align: center;
    font-weight: 700; }
.home-marketing {
  background-color: white;
  padding-top: 100px;
  padding-bottom: 30px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url(../../assets/wave-black.svg); }
  .home-marketing h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    font-weight: bold; }
  .home-marketing .home-marketing-content {
    vertical-align: middle;
    padding-top: 150px;
    padding-bottom: 200px;
    padding-right: 50px; }
  .home-marketing .home-marketing-img-container .img {
    width: 400px;
    height: 300px;
    overflow: hidden; }
    .home-marketing .home-marketing-img-container .img img {
      width: 100%;
      vertical-align: center; }

@media screen and (max-width: 1280px) {
  .home__header__title h1 {
    font-size: 50px; }
  .home__header__title p {
    letter-spacing: 2px; }
  .home__header .feature-row--right {
    margin-top: 130px; } }
@media screen and (max-width: 992px) {
  .home__header__title {
    padding-top: 300px; }
  .home__header .feature-row--right {
    margin-top: 50px; } }
@media screen and (max-width: 769px) {
  .home__header__title h1 {
    font-size: 40px; } }
@media screen and (max-width: 450px) {
  .home__header__title {
    text-align: center; }
    .home__header__title h1 {
      font-size: 30px; } }
.home-gallery {
  font-family: "Montserrat", sans-serif; }
  .home-gallery__title {
    text-align: center;
    font-size: 30px;
    font-weight: 500; }
  .home-gallery__items {
    list-style: none; }
    .home-gallery__items__item {
      vertical-align: middle;
      display: inline-block;
      position: relative;
      width: 300px;
      height: 300px;
      cursor: pointer;
      overflow: hidden;
      margin: 20px; }
      .home-gallery__items__item__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%; }
      .home-gallery__items__item:hover .home-gallery__items__item__label {
        opacity: 1;
        transition: opacity ease 0.5s; }
      .home-gallery__items__item__label {
        transition: opacity ease 0.5s;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        color: white;
        padding: 20px;
        padding-top: 60px;
        font-size: 20px;
        font-weight: 500;
        opacity: 0;
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 11%, black 47%, black 65%, black 92%, black 96%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 11%, black 47%, black 65%, black 92%, black 96%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 11%, black 47%, black 65%, black 92%, black 96%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
        /* IE6-9 */ }
      .home-gallery__items__item--active {
        width: 400px;
        height: 420px; }

.buy-tickets {
  padding-top: 140px;
  padding-bottom: 140px;
  background-image: url(../../assets/footer-background.jpeg);
  background-size: cover;
  text-align: center;
  color: white;
  background-position: bottom;
  background-attachment: fixed; }
  .buy-tickets h2 {
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 20px; }
